<div class="card mb-4 scrollSpy" [id]="to.label">
    <div class="card-header" [translate]="to.label"></div>
    <div class="card-body">
        <div class="sbp-preview">
            <div class="sbp-preview-content">
                <ng-container #fieldComponent></ng-container>
            </div>
        </div>
    </div>
</div>