<footer class="footer mt-auto footer-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-md-right small">Creado por Julio Jorquera &copy; 2020</div>
        </div>
    </div>
</footer> 