<form #pRef [formGroup]="form" class="form-group" (ngSubmit)="onSubmit(items['model'])">
    <formly-form [model]="items['model']" [fields]="items['fields']" [options]="options" [form]="form" style="width:100%;"></formly-form>
    <button  type="submit" class="btn btn-default" style="display: none;">Submit</button>
</form>