<div class="bg-blue" id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <router-outlet></router-outlet> 
            </div>
        </main>
    </div>
</div>