<header class="page-header page-header-dark bg-gradient-primary-to-secondary"  
        *ngIf="title['template'] != false"
        [class.bg-img-cover] = "title['template'] ? title['template']['backgroundImg'] : false"
        [class.overlay] = "title['template'] ? title['template']['backgroundImg'] : false"
        [style.background-image]="title['template'] ? ( title['template']['backgroundImg'] ? 'url('+ title['template']['backgroundImg'] +')' : '') : ''"
        [style] = "title['template'] ? ( title['template']['style'] ? title['template']['style'] : '') : ''">
    <div [ngTemplateOutlet]="this[title['template'] ? title['template'].name : 'start']"></div>
</header>

<ng-template #start>
    <div class="page-header-content pt-10">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="page-header-title mb-3">{{ title['name'] }}</h1>
                    <p class="page-header-text" *ngIf="title['description']">{{ title['description'] }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-light">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0" />
        </svg>
    </div>
</ng-template>

<ng-template #landing>
    <div class="page-header-content mb-n5">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6" data-aos="fade-right">
                    <h1 class="page-header-title">{{ title['template'].title }}</h1>
                    <p class="page-header-text mb-5">{{ title['template'].subTile }}</p>
                    <div class="mb-5 mb-lg-0">
                        <a class="mr-3" href="javascript:void(0);">
                            <img src="/assets/img/app-store-badge.svg" style="height: 3rem;"/>
                        </a>
                        <a href="javascript:void(0);">
                            <img src="/assets/img/google-play-badge.svg" style="height: 3rem;"/>
                        </a>
                        <div class="page-header-text mt-2 text-xs font-italic">* Requiere Android 4.3+ o Apple iOS 9.3+</div>
                    </div>
                </div>
                <div class="col-lg-6 z-1" data-aos="fade-left">
                    <div class="device-wrapper mx-auto mb-n15">
                        <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                            <div class="screen">
                                <img class="img-fluid z-1" [src]="title['template'].img" style="height: 100%;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-waves text-white">
        <svg class="wave" style="pointer-events: none" fill="currentColor" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
            <defs>
                <style>
                    .a {
                        fill: none;
                    }
                    .b {
                        clip-path: url(#a);
                    }
                    .d {
                        opacity: 0.5;
                        isolation: isolate;
                    }
                </style>
                <clipPath id="a"><rect class="a" width="1920" height="75" /></clipPath>
            </defs>
            <title>wave</title>
            <g class="b"><path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48" /></g>
            <g class="b"><path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10" /></g>
            <g class="b"><path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24" /></g>
            <g class="b"><path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150" /></g>
        </svg>
    </div>
</ng-template>

<ng-template #landing1>
    <div class="page-header-content py-10">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8">
                    <h1 class="page-header-title">{{ title['template'].title }}</h1>
                    <p class="page-header-text mb-5">{{ title['template'].subTile }}</p>
                    <div *ngIf="!title['template']['buttons']; else bottoms"></div>     
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-angled text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100" /></svg>
    </div>
</ng-template>

<ng-template #landing2>
    <div class="page-header-content py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h1 class="page-header-title">{{ title['template'].title }}</h1>
                    <p class="page-header-text mb-5">{{ title['template'].subTile }}</p>
                </div>
                <div class="col-lg-6">
                    <div class="card rounded-lg text-dark">
                        <div class="card-header py-4">Sign up and get our free e-book!</div>
                        <div class="card-body">
                            <!--<form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="small text-gray-600" for="leadCapFirstName">First Name</label>
                                        <input class="form-control rounded-pill" id="leadCapFirstName" type="text" /></div>
                                    <div class="form-group col-md-6">
                                        <label class="small text-gray-600" for="leadCapLastName">Last Name</label>
                                        <input class="form-control rounded-pill" id="leadCapLastName" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="small text-gray-600" for="leadCapEmail">Email address</label>
                                    <input class="form-control rounded-pill" id="leadCapEmail" type="email" />
                                </div>
                                <div class="form-group">
                                    <label class="small text-gray-600" for="leadCapCompany">Company or Organization</label>
                                    <input class="form-control rounded-pill" id="leadCapCompany" type="text" />
                                </div>
                                <button class="btn btn-primary btn-marketing btn-block rounded-pill mt-4" type="submit">Download Now</button>
                            </form>
                        -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-angled text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100" /></svg>
    </div>
</ng-template>

<ng-template #landing3>

    <div class="page-header-content pt-10">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6" data-aos="fade-up">
                    <h1 class="page-header-title">{{ title['template'].title }}</h1>
                    <p class="page-header-text mb-5">{{ title['template'].subTile }}</p>        
                    <div *ngIf="!title['template']['buttons']; else bottoms"></div>         
                </div>
                <div class="col-lg-6 d-none d-lg-block" data-aos="fade-up" data-aos-delay="50" *ngIf="title['template']['img']">
                    <img class="img-fluid" [src]="title['template'].img" />
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0" />
        </svg>
    </div>
</ng-template>

<ng-template #landing4>
    <div class="page-header-content mt-10">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10 text-center">
                    <h1 class="page-header-title">Descubre nuestros cursos</h1>
                    <p class="page-header-text mb-5">Busca nuestras especialidades diseñadas solo para ti</p>
                    <div class="page-header-signup">
                        <div class="form-row justify-content-center">
                            <div class="col-lg-6 col-md-8">
                                <div class="form-group mr-0 mr-lg-2">
                                    <label class="sr-only" for="inputSearch">Busca tu profesión</label>
                                    <input class="form-control form-control-solid rounded-pill" id="inputSearch" type="text" placeholder="Busca tu profesión">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4"><button class="btn btn-teal btn-block btn-marketing rounded-pill" type="submit">Buscar</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-angled text-light">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
    </div>
</ng-template>

<ng-template #bottoms>
    <a class="btn btn-marketing {{ it.class }}" *ngFor="let it of title['template']['buttons']" [routerLink]="it.url">
        {{ it.name }} <i *ngIf="it['icon']" class="fas ml-1 {{ it['icon'] }}"></i>
    </a>
</ng-template>