<div class="card mb-4">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills" id="cardPill" role="tablist">
            <li class="nav-item">
                <a class="nav-link" (click)="tabGraphics = true" [class.active]="tabGraphics" translate="statusJob.graphics"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="tabGraphics = false" [class.active]="!tabGraphics" translate="statusJob.table"></a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="cardPillContent">
            <div class="tab-pane fade" [class.show]="tabGraphics" [class.active]="tabGraphics">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="chart-area mb-4  mt-4 mb-lg-0" style="height: 20rem;">
                            <app-chart [data]="performance"></app-chart>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <h6 translate="statusJob.alert"></h6>
                        <hr class="mt-1">
                        <ng-container *ngFor="let item of orderBy.length > 4 ? [0,1,2,3,4] : [];">
                            <div class="d-flex align-items-cetner justify-content-between small mb-1">
                                <div class="font-weight-bold">{{ orderBy[item].devices }}</div>
                                <div class="small">{{ orderBy[item].values + '%' }}</div>
                            </div>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" [style.width]="orderBy[item].values + '%'"></div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade"  [class.show]="!tabGraphics" [class.active]="!tabGraphics">
                <div class="datatable table-responsive">
                    <div class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover dataTable" style="width: 100%;">
                                    <thead>
                                        <tr role="row" >
                                            <th translate="statusJob.devices" tabindex="0" aria-controls="dataTableActivity" rowspan="1" colspan="1"></th>
                                            <th translate="statusJob.values" tabindex="0" aria-controls="dataTableActivity" rowspan="1" colspan="1"></th>
                                        </tr>                                              
                                    </thead>
                                    <tbody>         
                                        <tr role="row" [class.odd]="index % 2 == 0" [class.even]="index % 2 != 0" *ngFor="let thead of performance.devices; let index = index;">
                                            <td class="sorting_1">{{ thead }}</td>
                                            <td>{{ performance.values[index] * 100 | number : '1.0-2'}} %</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>			
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-xl-3 mb-4">
        <div class="nav-sticky">
            <div class="card mb-4">
                <div class="card-header" translate="statusJob.refresh"></div>
                <div class="list-group list-group-flush small">
                    <a class="list-group-item nav-link list-group-item-action border-top" *ngFor="let list of lists.devices" (click)="refresh[list] ? check(list) : ''" [class.disabled]="!refresh[list]">
                        <i-feather [name]="!check_[list] ? 'circle' : 'check-circle' "></i-feather> {{ list }}
                        <span class="badge ml-2" *ngIf="refresh[list]">{{ refresh[list].length }} {{ 'statusJob.devices' | translate }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-xl-9 mt-5">
        <div class="row">
            <ng-container *ngFor="let list of lists.devices">
                <div [class.show]="check_[list]" class="col-xl-4 col-md-6 mb-4 list">
                    <div class="card border-top-0 border-bottom-0 border-right-0 border-left-lg border-blue h-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="font-weight-bold text-blue mb-1">{{ list }}</div>
                                    <div class="overflow">
                                        <div class="small" *ngFor="let refres of refresh[list] ? refresh[list] : []; let index = index">
                                            <p [class.primary]="index == 0">{{ refres.date | date : 'shortTime' }} {{ 'statusJob.equipo' | translate }} {{ refres.status }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
