:host{
    .nav-link{
        cursor: pointer;
    }
    .progress-bar{
        transition: width 250ms ease-in-out;
    }
    .datatable{
        overflow-x: hidden;
    }
    .list-group-item{
        padding-left: 55px;
        .badge{
            position: absolute;
            right: 10px;
            margin-top: 3px;
            text-transform: lowercase;
        }
        &.disabled{
            opacity: 0.5;
        }
        i-feather{
            margin-left: -35px;
            position: absolute;
            margin-top: 2px;
        } 
    }
    .list{
        position: absolute;
        visibility: hidden;
        transition: opacity 250ms;
        opacity: 0;
        z-index: 0;
        &.show{
            visibility: visible;
            opacity: 1;
            position: inherit;
            z-index: 1;
        }
    }
    .overflow{
        height: 100px;
        overflow-y: auto;
        p{
            margin: 0;
            transition: font-weight 600ms;
            &.primary{
                font-weight : 700;
            }
        }
    }

    .nav-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;
        top: 5.125rem;
        font-size: 0.9rem;
    }
}