<div class="card">
    <div class="card-body">
        <ul class="nav flex-column">
            <li class="nav-item" *ngFor="let item of fields; let ind = index;" (click)="onSectionChange(item)" [class.active]="currentSection == item.name">
                <a class="nav-link"  [translate]="item['name']"></a>
            </li>
        </ul>
    </div>
</div>