<div class="nav-fixed" [class.sidenav-toggled]="sidenavToggled">
    <app-topnav (sidenavToggled)="showClk($event)"></app-topnav>
    <div id="layoutSidenav">
        <app-sidenav (navClickSelect)="navClickSelect($event)"></app-sidenav>
        <div id="layoutSidenav_content">
            <main>
                <app-nav-header [hearderNavSelect]="menuSelect"></app-nav-header>
                <div class="container-fluid mt-n10">
                    <router-outlet></router-outlet>
                </div>
                <app-nav-footer></app-nav-footer>
            </main>
        </div>
    </div>
</div>