<nav class="topnav navbar navbar-expand shadow navbar-light bg-white" id="sidenavAccordion">
    <a class="navbar-brand d-none d-sm-block" routerLink="/" >
        <img *ngIf="global['img']; else text" [src]="global['img']">
        <ng-template #text>
            {{ global['name'] }}
        </ng-template>
    </a>
    <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 mr-lg-2" (click)="fullClk()"><i-feather name="menu"></i-feather></button>
    <ul class="navbar-nav align-items-center ml-auto">
        <li class="nav-item dropdown no-caret mr-3 dropdown-user">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="img-fluid" [src]="user['profilePictureUrl']"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                <h6 class="dropdown-header d-flex align-items-center">
                    <img class="dropdown-user-img" [src]="user['profilePictureUrl']" />
                    <div class="dropdown-user-details">
                        <div class="dropdown-user-details-name">{{ user['firstName'] }} {{ user['lastName'] }}</div>
                        <div class="dropdown-user-details-email">{{ user['email'] }}</div>
                    </div>
                </h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"  style="cursor: pointer;" [routerLink]="['/admin/profile']">
                    <div class="dropdown-item-icon">
                        <i-feather name="settings"></i-feather>
                    </div>
                    {{ 'menuTop.account' | translate }}
                </a>
                <a class="dropdown-item" style="cursor: pointer;" (click)="logout()">
                    <div class="dropdown-item-icon">
                        <i-feather name="log-out"></i-feather>
                    </div>
                    {{ 'menuTop.logout' | translate }}
                </a>
            </div>
        </li>
    </ul>
</nav>