<div class="center">
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector"  (click)="openFileSelector()">
          Arrastre su imagen
        <!--  <button type="button" class="btn btn-primary" (click)="openFileSelector()">Browse Files</button> -->
        </ng-template>
    </ngx-file-drop>
    {{ model[field.key] | json }} - {{ field.key }}
    <div class="upload-table">
        <table class="table">
            <tbody class="upload-name-style">
                <tr *ngFor="let item of model[field.key]; let i=index">
                    <td><strong>{{ item.url }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>