<footer class="footer pt-10 pb-5 mt-auto {{ classFooter }}" >
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-brand">
                    <img [src]="global['img']">
                </div>
                <div class="mb-3">{{ global['description'] }}</div>
                <div class="icon-list-social mb-5">
                    <a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                    <a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-facebook"></i></a>
                    <a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-github"></i></a>
                    <a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <div class="text-uppercase-expanded text-xs mb-4">Product</div>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><a href="javascript:void(0);">Landing</a></li>
                            <li class="mb-2"><a href="javascript:void(0);">Pages</a></li>
                            <li class="mb-2"><a href="javascript:void(0);">Sections</a></li>
                            <li class="mb-2"><a href="javascript:void(0);">Documentation</a></li>
                            <li><a href="javascript:void(0);">Changelog</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <div class="text-uppercase-expanded text-xs mb-4">Technical</div>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><a href="javascript:void(0);">Documentation</a></li>
                            <li class="mb-2"><a href="javascript:void(0);">Changelog</a></li>
                            <li class="mb-2"><a href="javascript:void(0);">Theme Customizer</a></li>
                            <li><a href="javascript:void(0);">UI Kit</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                        <div class="text-uppercase-expanded text-xs mb-4">Includes</div>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><a href="javascript:void(0);">Utilities</a></li>
                            <li class="mb-2"><a href="javascript:void(0);">Components</a></li>
                            <li class="mb-2"><a href="javascript:void(0);">Layouts</a></li>
                            <li class="mb-2"><a href="javascript:void(0);">Code Samples</a></li>
                            <li class="mb-2"><a href="javascript:void(0);">Products</a></li>
                            <li class="mb-2"><a href="javascript:void(0);">Affiliates</a></li>
                            <li><a href="javascript:void(0);">Updates</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="text-uppercase-expanded text-xs mb-4">Legal</div>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><a href="javascript:void(0);">Privacy Policy</a></li>
                            <li class="mb-2"><a href="javascript:void(0);">Terms and Conditions</a></li>
                            <li><a href="javascript:void(0);">License</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-5" />
        <div class="row align-items-center">
            <div class="col-md-6 small">Copyright &#xA9; {{ global['name'] }} 2020</div>
            <div class="col-md-6 text-md-right small">
                <a href="javascript:void(0);">Privacy Policy</a>
                &#xB7;
                <a href="javascript:void(0);">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>