:host{
    .class_{
        background-color: #eff3f9;
        border: 0.25rem solid #e3e6ec;

        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;

        
        .options{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            text-align: center;
            top: 0;
            .btn{
                margin: 0;
                position: absolute;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                left : calc(50% - 3rem);
                border: 0.25rem solid;
                border-radius: 50%;
                height: 6rem;
                width: 6rem;
                &.play i-feather{

                }
                &.pause{
                    //opacity: 0;
                    i-feather{
                        margin-left: -3px;
                    } 
                } 
                i-feather{
                    margin-top: 3px;
                    &, ::ng-deep svg{
                        height: 4rem;
                        width: 4rem;
                    }
                }
            }
        }
        img{
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            &.show{
                opacity: 1;
            }
        }

        yt-player::ng-deep iframe{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0.1rem solid white;
        }
        &, yt-player::ng-deep iframe{
            border-radius: 0.35rem;
        }
    }
}