<div class="class_">
    <yt-player *ngIf="!loader && loadVideo" [videoId]="url" [options]="options"></yt-player>
    <div class="hover">
        <img [class.show]="show" *ngIf="url != ''" [src]="'https://i.ytimg.com/vi/'+url+'/maxresdefault.jpg'">
        <div class="options" *ngIf="loadVideo">
            <button class="btn" [class.play]="status == 0" [class.pause]="status == 1" (click)="play(status)">
                <i-feather [name]="status == 0 ? 'play' : 'pause'"></i-feather>
            </button>
        </div>
    </div>
</div>