<div class="row justify-content-center mt-10">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
        <div class="card">
            <div class="card-body pt-5 text-center ">
                <div class="icons-org-create align-items-center mx-auto">
                    <i-feather class="icon-users" name="users"></i-feather>
                </div>
                <div class="text-blue mb-0">
                    <h1 class="text-blue font-weight-500"  translate="session.login.init.titule" [translateParams]="global"></h1>
                    <p  translate="session.login.init.subTitule" [translateParams]="global"></p>
                </div>
            </div>
            <hr class="m-0" />
            <div class="card-body p-5">
                <div>
                    <app-formly-card [model]="model" [fields]="fields" (initSubmit)="initSubmit($event)"></app-formly-card>
                    <button class="btn btn-block btn-blue"  translate="session.login.init.btn" (click)="onSubmit()"></button>
                </div>
            </div>
        </div>
    </div>
</div>
