@import '../../../assets/global/colors';

:host{
    tag-input{
        ::ng-deep .ng2-tag-input{
            padding-bottom: 0px;
            padding-top: 0.5px;
            padding-left: 7px;
            border: 1px solid #c5ccd6;
            border-radius: 0.35rem;
            &.ng2-tag-input--focused{
                border-color: $blue;
            }

            //padding: 0;
        }
    }
    select {
        display: none;
    }
}