<div style="padding-bottom: 15px;">
    <!--<select 
      [(ngModel)]         = "model[this.field.key]"
      multiple            = "true"
      [formControl]       = "formControl"
      [formlyAttributes]  = "field">
      <option *ngFor="let item of model[this.field.key]" [value]="item.display">{{ item.value }}</option>
    </select>
  -->
    <label> {{ to.label }} </label>
    <div *ngIf="field.templateOptions['options']; else autocompleteObservable_">
        <tag-input [ngModel]="model[field.key]" [onlyFromAutocomplete]="field.templateOptions.autocomplete">
          <tag-input-dropdown [autocompleteItems]="field.templateOptions.options" [limitItemsTo]="field.templateOptions.autocomplete ? 500 : 10" [showDropdownIfEmpty]="field.templateOptions.autocomplete"></tag-input-dropdown>
        </tag-input> 
    </div>
    
    <ng-template #autocompleteObservable_>
      <div *ngIf="field.templateOptions['autocompleteObservable']; else libre">
        <tag-input [ngModel]="model[field.key]" [onlyFromAutocomplete]="field.templateOptions.autocomplete" [maxItems]="'1'">
          <tag-input-dropdown [autocompleteObservable]="requestAutocompleteItems" [limitItemsTo]="10" [displayBy]="'email'"  [showDropdownIfEmpty]="field.templateOptions.autocomplete"></tag-input-dropdown>       
         </tag-input> 
      </div>
    </ng-template>

    <ng-template #libre>
      <tag-input [ngModel]="model[field.key]"> </tag-input> 
    </ng-template>
</div>