:host{
    $width : 250px;
    app-view-video{
        width: $width;
        display: block;
        height: $width * 0.6;
    }
    .class_{
        margin-left: 260px;
        width: calc(100% - 290px);
        position: absolute;
        top: 25px;
    }
}