<div class="form-group">
    <app-view-video [src]="formControl.value" ></app-view-video>
    <div class="class_">
        <label> {{ to.label }} <span *ngIf="to.required"> * </span> </label>
        <input class="form-control" type="text" [formControl]="formControl" [formlyAttributes]="field">
    </div>
</div>