<nav class="navbar navbar-marketing navbar-expand-lg {{ navTopClass }}" >
    <div class="container">
        <a class="navbar-brand text-white" [routerLink]="general['home']">
            <img *ngIf="general['img']; else text" [src]="general['img']">
            <ng-template #text>
                {{ general['name'] }}
            </ng-template>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <i-feather name="menu"></i-feather>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-lg-5">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngFor="let nav of general['navbar'];let idx=index;" [class.dropdown-xl]="nav['children']" [class.dropdown]="nav['children']" [class.dropdown-lg]="nav['children']" [class.no-care]="nav['children']">
                    <a *ngIf="nav['url']" class="nav-link" [routerLink]="nav.url">{{ nav.name }}</a>
                    
                    <ng-container *ngIf="nav['children']">
                        <a class="nav-link dropdown-toggle" [attr.id]="'navbarDropdownPages'+idx" role="button" data-toggle="dropdown">
                            {{ nav.name }}
                            <i class="fas fa-chevron-right dropdown-arrow"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" [attr.aria-labelledby]="'navbarDropdownPages'+idx">
                            <div class="row no-gutters">
                                <div class="col-lg-5 p-lg-3 bg-img-cover overlay overlay-primary overlay-80 d-none d-lg-block" [style.background-image]="'url('+nav['img']+')'">
                                    <div class="d-flex h-100 w-100 align-items-center justify-content-center">
                                        <div class="text-white text-center z-1">
                                            <div class="mb-3" style="font-size: 20px;">{{ nav.description }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 p-lg-5">
                                    <div class="row">
                                        <div *ngFor="let col of nav['children']" [class]="col.col">
                                            <ng-container *ngFor="let title of col.nav" >
                                                <h6 class="dropdown-header text-primary">{{ title.name }}</h6>
                                                <a *ngFor="let nav_ of title.nav" routerLinkActive="actived" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item" [routerLink]="nav_.url">{{ nav_.name }}</a>
                                                <div class="dropdown-divider border-0"></div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </li>
            </ul>

            
            <a *ngFor="let left of general['button']" class="btn-primary btn rounded-pill px-4 ml-lg-4" [routerLink]="left.url">
                {{ left.name }}
                <i *ngIf="" class="fas fa-arrow-right ml-1"></i>
            </a>
        </div>
    </div>
</nav>