:host{
    nav{
        position: absolute;
        z-index: 3;
        width: 100%;
        .navbar-brand img{
            height: 2rem;
            margin-top: 3px;
        }
        .actived{
            font-weight: 700;
        }
        .dropdown-toggle{
            cursor: pointer;
            &::after{
                content: none;
            }
        }
    }
}