<div *ngIf="items['select']">
    <div class="row mb-3">
        <div class="col-md-12">
            <label>Tipo de pregunta</label>
            <select class="browser-default custom-select" [(ngModel)]="items['select']" (change)="change(items)"  [compareWith]="compareFn">
                <option *ngFor="let str_ of struct" [translate]="str_.select" [ngValue]="str_" [attr.selected]="str_.select == (items['select'] ? items['select'].select : '')"></option>
            </select>
        </div>
    </div>
    <div class="row" *ngIf="items['select']">
        <div class="col-md-12" *ngIf="items['select']['type'] == 'options'">
            <label>Alternativas</label>
            <div class="row pt-2" *ngFor="let opt of items['options']; let index = index" >
                <div class="col-md-1 col-xs-2">
                    <div style="text-align: center; font-size: 25px; padding-top: 1px;"> {{ index + 1 }})</div>
                </div>
                <div class="col-md-11 col-xs-10">
                    <input type="text" class="form-control mb-3" [(ngModel)]="opt.label" (keyup)="addOptions(items, opt, index)"/>
                </div>
            </div>
        </div>
    </div>
</div>