<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cambiar Idioma</h4>
</div>
<div class="modal-body">
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
        <label class="custom-control-label" for="defaultUnchecked">Español</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
        <label class="custom-control-label" for="defaultUnchecked">Portuges</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
        <label class="custom-control-label" for="defaultUnchecked">Ingles</label>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" >Cambiar</button>
</div>