<div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
    <div class="container-fluid">
        <div class="page-header-content">
            <h1 class="page-header-title"> 
                <div class="page-header-icon">
                    <i-feather name="activity"></i-feather>
                </div>
                <span [translate]="hearderNavSelect ? ( hearderNavSelect['name'] | translate ): ''"></span> 
            </h1>
            <div class="page-header-subtitle" [translate]="hearderNavSelect? hearderNavSelect['description'] : ''"></div>
        </div>
    </div>
</div>