<div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
                <ng-container *ngFor="let items of menu">
                    <div class="sidenav-menu-heading" [translate]="items.name"></div>
                    <div *ngFor="let item of items.children;let idx = index">
                        <a *ngIf="item.children" class="nav-link collapsed" [class.hidden]="item['visible'] === false" href="javascript:void(0);" data-toggle="collapse" [attr.data-target]="'#collapse'+idx" aria-expanded="false">
                            <div class="nav-link-icon">
                                <i-feather [name]="item.icon"></i-feather>
                            </div> {{ item.name | translate }}
                            <div class="sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </a>
                        <a *ngIf="!item.children" class="nav-link" [class.hidden]="item['visible'] === false" [routerLink]="item.url" [routerLinkActive]="navSelect(rla, item)" #rla="routerLinkActive">
                            <div class="nav-link-icon">
                                <i-feather [name]="item.icon"></i-feather>
                            </div> {{ item.name | translate }}
                        </a>
                        <div class="collapse" routerLinkActive="show" [class.hidden]="item['visible'] === false" [attr.id]="'collapse'+idx" data-parent="#accordionSidenav" *ngIf="item.children">
                            <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                <a *ngFor="let detail of item.children" class="nav-link" [routerLink]="detail.url" [routerLinkActive]="navSelect(rla, detail)" #rla="routerLinkActive">
                                    {{ detail.name | translate }}
                                    <span *ngIf="detail.badge" class="badge {{ detail.badge.class }}">{{ detail.badge.name }}</span>
                                </a>
                            </nav>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </nav>
</div>