@import './assets/global/global'; 
@import './assets/global/colors.scss';

.app-public{
    @import './assets/publicScss/variables.scss';
    @import '../node_modules/bootstrap/scss/bootstrap.scss';
    @import "./assets/publicScss/styles.scss";
}
.app-admin{
    @import './assets/privateScss/variables.scss';
    @import '../node_modules/bootstrap/scss/bootstrap.scss';
    @import "./assets/privateScss/styles.scss";
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.modal.modal-loading{
    background: rgba(0,0,0,.5);
    /*left: 240px;
    top: 59px;
    width: calc(100% - 240px);
    height: calc(100% - 59px);*/
    z-index: 1029;
    .modal-dialog{ 
        min-height: calc(100vh - 130px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: auto;
        @media(max-width: 768px) {
          min-height: calc(100vh - 20px);
        }
        .modal-content{
            background-color: transparent;
            border-width: 0px;
        }
    }
}