:host{
    .btn-up{
        position: fixed;
        bottom: 25px;
        right: 25px;
        opacity : 1;
        transition: transform 250ms ease-in-out;
        padding: 15px;
        border-radius: 50%;
        font-weight: 700;
        font-size: 20px;
        z-index: 1;
        &.no-hidden{
            transform: scale(0);
        }
    }
}